<form class="" action="/galvanize_reads/library/books" method="post">
  <label for="title">Book Title</label>
  <input type="text" name="title" value="">
  <label for="genre">Genre</label>
  <input type="text" name="genre" value="">
  <label for="">Cover Photo URL</label>
  <input type="text" name="coverPic" value="">
  <label for="">Description</label>
  <input type="text" name="description" value="">
  <div class="authorBox">{{fName}} {{lName}}</div>
  <div class="authorSelect">
    <select class="" name="authorSelect">
      {{#each authorss}}
            <option value="{{author_id}}">{{fName}} {{lName}}</option>
      {{/each}}
    </select>
  </div>


  <button type="submit" name="button">Add Book</button>
</form>
