<a href="/"><button type="button" name="button">Home</button></a>

  <a href="/galvanize_reads/library/authors/new"><button type="button" name="button">Add New Author</button></a>

{{#each authorss}}
  <a href="/galvanize_reads/library/authors/{{author_id}}/{{fName}}/{{lName}}">
    <h2><span>Author:</span> {{fName}} {{lName}}</h2>
    <h4><span>Biography: </span>{{biography}}</h4>
    <h5><img src="{{portrait}}" width="150px;"></h5>
  </a>
  <h5><span>Books:</span>
    {{#each bookss}}
      <a href="/galvanize_reads/library/{{book_id}}/{{title}}">{{title}}<img src="{{coverPic}}" alt=""></a>
    {{/each}}
  </h5>
{{/each}}
