<a href="/"><button type="button" name="button">Home</button></a>

  <a href="/galvanize_reads/library/books/new">
    <button type="button" name="button">
      Add New Book
    </button>
  </a>

{{#each data}}
  <a href="/galvanize_reads/library/books/{{book_id}}/{{title}}">
    <h2><span>Title:</span> {{title}}</h2>
    <!-- <h4><span>Genre:</span> {{genre}}</h4> -->
    <h5><span>Description:</span> {{description}}</h5>
    <h5><img src="{{coverPic}}" width='150px' alt=""></h5>
  </a>
{{/each}}
