<h1><span>Author:</span> {{fName}} {{lName}}</h1>
<h5><span>Bio:</span> {{biography}}</h5>
<img src="{{portrait}}" alt="">
<h5><span>Books: <a href="/galvanize_reads/library/authors/{{book_id}}/{{title}}">{{title}}</a></span>

  <a href="/galvanize_reads/library/authors/{{author_id}}/{{fName}}/{{lName}}/edit_author"><button type="button" name="button">Edit</button></a>
  <a href="/galvanize_reads/library/authors/{{author_id}}/{{fName}}/{{lName}}/delete"><button type="button" name="button">Delete</button></a>
  <a href="/galvanize_reads/library/authors"><button type="button" name="button">Authors</button></a>
