<img src="{{coverPic}}" width="100px" alt="">
<h1><span>Title:</span> {{title}}</h1>
<h3><span>Genre:</span> {{genre}}</h3>
<h5><span>Description:</span> {{description}}</h5>
<h5><span>Author:</span> <a href="/galvanize_reads/library/authors/{{author_id}}/{{author}}">{{fName}} {{lName}}</a></h5>

<a href="/galvanize_reads/library/books/{{book_id}}/{{title}}/edit"><button type="button" name="button">Edit</button></a>
<button type="button" name="button">Delete</button>
<a href="/galvanize_reads/library/books"><button type="button" name="button">Books</button></a>
