<h1><span>Author:</span> {{fName}} {{lName}}</h1>
<h3><span>Genre:</span> {{genre}}</h3>
<h5><span>Description:</span> {{description}}</h5>
<img src="{{portrait}}" alt="">
<h5><span>Books: <a href="/galvanize_reads/library/books/{{book_id}}/{{title}}">{{title}}</a></span>
