<img src="{{coverPic}}" width="100px" alt="">
<h1><span>Title:</span> {{title}}</h1>
<h3><span>Genre:</span> {{genre}}</h3>
<h5><span>Description:</span> {{description}}</h5>
<h5><span>Author:</span> <a href="/galvanize_reads/library/authors/{{id}}/{{author}}">{{fName}} {{lName}}</a></h5>
